#d1{
    width: 500px;
    height: 100px; 
    border: 3px solid black;
    display: inline;
    
}
#d2{
    width: 500px;
    height: 100px; 
    border: 3px solid black;
    display: inline;
}
#s1{
    width: 500px;
    height: 100px;
    border: 5px dotted  blue;
    display: block;
    
}