* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f4f6f8;
}


.navbar {
    position: sticky;
    top: 0;
    background: #1e3c72;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 30px;
    
    
}

.navbar ul li a:hover {
    color: #ffcc00;
}


.hero {
    padding: 100px 20px;
    text-align: center;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
}


.section {
    padding: 60px 40px;
    text-align: center;
}


.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #ffcc00;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: large;
    font-weight: 700;
    border:black 2px solid;
}

.btn:hover {
    background: #ffb300;
}

form {
    max-width: 400px;
    margin: auto;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
