*{
    background-color: #bdb0b0;
}
#bulb{
    padding: 50px;
    border: 1px solid #eae3e3;
    border-radius: 50%;
    width: fit-content;
    
}
button{
   margin: 10px;
   padding: 10px;
   background-color: rgb(164, 173, 173);
}

#smartbulb{
    height: 50px;
    width: 50px;
    padding: 50px;
    border: 1px solid #000000;
    border-radius: 50%;
    width: fit-content;

}
#SB_btn{
    padding: 5px;
    margin: 5px;
 
}
.On{
    background-color: yellow;

}