.red{
    color:red
}
.green{
    color: green;
}
.blue{
    color: blue;
}
.bg-pink{
    background-color: pink;
}
.bg-violet{
    background-color: rgb(179, 33, 179);
}
.bg-skyblue{
    background-color: skyblue;

}
.bg-green{
    background-color: greenyellow;
}
.font-large{
    font-size: large;
}
.font-x_large{
    font-size: x-large;
}
.font-small{
    font-size: small;
}