h1 {
  width: 200px;
  border: 3px solid blue;
  margin-left: 0px;
  border-radius: 5px;
}
h1:hover {
  margin-left: 200px;
  transition: margin-left 6s;
  width: 400px;
  transition: width 6s;
}
h2 {
  width: 200px;
  height: 30px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
}
#inner {
  width: 0px;
  height: 30px;
  background-color: rgb(251, 1, 1);
}

h2:hover {
  #inner {
    width: 100%;
    background-color: green;
    transition: width 6s ease-out, background-color 5s ease-in-out;
  }
}





#outer1{
  width: 500px;
  height: 50px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
  #inner1{
    height: 50px;
  }
}


#outer1:hover {
  #inner1 {
    animation: myAnimation 5s linear;
  }
}
@keyframes myAnimation{
    0%{
        width:0%;
    background-color: red;
}
    50%{
        width:50%;
    background-color: yellow;
}
    100%{
        width:100%;
    background-color: green;
}
}
