* {
  background-color: rgb(135, 218, 235);
}
/* Main container center */
#main {
  width: 250px;
  margin: 150px auto;
  padding: 10px;
  border: 10px solid #000;
  border-radius: 10px;
  background-color: black;
}

/* Screen */
#screen {
  margin-bottom: 15px;
  border: 6px solid #000;
}

#inputScreen {
  width: 95%;
  height: 40px;
  font-size: 20px;
  text-align: right;
  padding: 5px;
  background-color: rgb(207, 207, 207);
  border-radius: 3px;
}

/* Table alignment */
#table table {
  width: 100%;
  border-collapse: collapse;
  border: 6px solid #000;
}

#table td,
#table th {
  padding: 5px;
  border: 6px solid #000;
}
#table {
  td {
    background-color: #000;
  }
}

/* Buttons */
.inputButton {
  width: 100%;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(207, 207, 207);
}

/* Clear button (C) red */
#btnClear {
  background-color: red;
  color: white;
  border: 2px solid #000;
}

/* Equal button */
#btnEqual {
  background-color: rgb(243, 58, 7);
  color: white;
  height: 45px;
  font-weight: bold;
  border: 2px solid #000;
}

.inputButton:hover {
  background-color: rgb(185, 175, 175);
}
#btnEqual:hover {
  background-color: rgb(245, 65, 65);
}
#btnClear:hover {
  background-color: rgb(242, 47, 47);
}
