body
{
    background-color: rgb(64, 64, 254);
}
#mainbox {
  width: 320px;
  height: 300px;
  margin: 50px auto ;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  input{
    border: 0;
    background-color: transparent;
    outline: 0;
  }
}
hr{
    width:300px
}
h2{
    text-align: left;
}
#s1{
    text-align: left;
    
}
#s2{
    text-align: right;
    color: blue;
    margin: 5px;
}
button{
    width: 290px;
    height: 50px;
    text-align: center;
    padding: 7px;
    margin: 25px;
    border-radius: 7px;
    background-color: rgb(24, 113, 246);
    color: white;
    font-weight: bolder;
  }
#d2{
    text-align: center;
}
#d2s2{
    color: blue;
    
}
#email
{
    border: 0;
}
#pass
{
    border: 0;
}
h2 span{
    border-bottom: 3px solid blue;
    
}


