#maindiv{
    width: 1000px;
    height: 700px;
    border: 3px solid red;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    justify-items: center;
    align-items: center;
    
}
.subDiv{
    width: 60px;
    height: 60px;
    border: 2px dotted pink;
    background-color: aquamarine;
}