*{
    margin: 0;
    padding: 0;
}
#box{
    width: 100px;
    height: 100px;
    border: 5px solid rgb(88, 0, 48);
    background-color: aqua;
    position: absolute;
    animation: movingbox 10s linear infinite;

}
@keyframes movingbox{
    /* 0%{
        top:0;
        left:0;
        background-color: red;
    }
     25%{
        top:0;
        left:500px;
        background-color: blue;
    }
     50%{
        top:500px;
        left:500px;
        background-color: yellow;
    }
     75%{
        top:500px;
        left:0px;
        background-color: rgb(25, 188, 13);
    }
    100%{
        top:0px;
        left:0px;
        background-color: aqua(25, 188, 13);
    }*/
     0%{
        top:0;
        left:0;
        background-color: red;
        transform: rotateZ(16600deg);
        transition: transform 2s;
    }
     25%{
        top:0;
        left:500px;
        background-color: blue;
    }
     50%{
        top:500px;
        left:500px;
        background-color: yellow;
    }
     75%{
        top:500px;
        left:0px;
        background-color: rgb(25, 188, 13);
    }
    100%{
        top:0px;
        left:0px;
        background-color: aqua(25, 188, 13);
    }
}

