#d1{
    width: 100px;
    height: 100px;
    border: 8px solid coral;
    font-size: xx-large;
    font-style:italic;
    padding: 50px;
    margin: 50px ;
} 
#d2{
    width: 100px;
    height: 100px;
    border: 10px solid cornflowerblue;
    margin: 10px 20px 30px 40px;
    padding: 20px;
    box-shadow: 10px 10px 5px 5px;
}